@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
   background-color:rgb(187 187 187);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



@media (max-width: 1018px) {
  .teamRes {
    width: 50%; /* 1 column on very small screens */
  }
}
@media (max-width: 549px) {
  .teamRes {
    width: 100%; /* 1 column on very small screens */
  }
}
